@import url('https://fonts.googleapis.com/css2?family=Inter&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

:root {
    --primary-color: #000000;
    --secondary-color: white;
    --accent-color: #2E8B57;
    --container-max-width: 850px;
    --container-padding: 2rem;
}

body, html {
    margin: 0;
    padding: 0;
    font-family: 'Inter', sans-serif;
    font-size: 16px;
    color: var(--primary-color);
    background-color: var(--secondary-color);
}

.header-row {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.container {
    max-width: var(--container-max-width);
    margin: 0 auto;
    padding: var(--container-padding);
    text-align: justify;
    text-justify: inter-word;
    word-spacing: -1px;
    
}

h1 {
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    font-size: 1.5rem;
}

p {
    margin-bottom: 1.5rem;
    line-height: 1.6;
}

.sticker {
    color: white;
    text-decoration: none;
    font-weight: 300;
    background-color: var(--accent-color);
    padding: 0rem 0.25rem;
    border-radius: 2px;
}

.link {
    color: #2E8B57;
    text-decoration: none;
    font-weight: 700;
}

nav a {
    font-weight: 500;
    font-family: "Montserrat", sans-serif;
    color: var(--accent-color);
    padding: 0;
    text-decoration: none;
}

nav.top a {
    margin-left: 1rem;
}

nav.bot a {
    margin-right: 1rem;
}

li {
    margin-top: 5px;
    margin-left: -10px;
}

.pages {
    margin-top: 2rem;
}

.cursor {
    display: inline-block;
    width: 2px;
    height: 1.25em;
    background-color: var(--primary-color);
    animation: cursor-blink 1.5s steps(2) infinite;
    vertical-align: middle;
    margin-left: 2px;
}

@keyframes cursor-blink {
    0% {
      opacity: 0;
    }
  }

@media (max-width: 767px) {
    body, html {
        font-size: 13px;
    }
    
    .container {
        text-align: left;
        padding: 1rem;
    }

    li {
        margin-top: 5px;
        margin-left: -20px;
    }
}